@media (max-width: 576px) {
  .container {
    padding: 10px;
  }
  header .shop {
    display: none;
  }
  header .menu {
    display: flex;
  }
  .promo {
    height: 350px;
    margin-bottom: 40px;
  }
  .promo .container h1 {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .promo .container p {
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 20px;
  }
  .promo .container a {
    color: white;
    font-size: 13px;
    display: flex;
    justify-content: center;
  }
  .design .container .text {
    text-align: center;
    margin-bottom: 40px;
  }
  .design .container .text h2 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .design .container .text p {
    font-size: 12px;
    margin-bottom: 25px;
  }
  .design .design_box {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    margin-bottom: 50px;
  }
  .design .design_box img {
    width: 100%;
    margin-bottom: 15px;
    margin-top: 30px;
  }
  .design .design_box h3 {
    font-size: 20px;
    margin-bottom: 5px;
  }
  .design .design_box a {
    font-size: 13px;
    margin-bottom: 20px;
  }
  .products .container {
    margin-bottom: 50px;
  }
  .products .container .text h2 {
    font-size: 28px;
    margin-bottom: 15px;
  }
  .products .container .text p {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .products .container .square {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    margin-bottom: 20px;
  }
  .products .container .products_box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .products .container .products_box .about_product {
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 21px;
    font-size: 13px;
  }
  .inspiration {
    height: 400px;
    margin-bottom: 70px;
  }
  .inspiration .container h2 {
    font-size: 40px;
    margin-bottom: 10px;
  }
  .inspiration .container p {
    margin-bottom: 20px;
  }
  .made .container .text h2 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .made .container .text p {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .made .container img {
    height: 550px;
    -o-object-fit: cover;
       object-fit: cover;
    height: 400px;
  }
  .team .container {
    margin-bottom: 60px;
  }
  .team .container .text h2 {
    margin-top: 15px;
    font-size: 30px;
  }
  .team .container .text p {
    font-size: 14px;
    margin-bottom: 40px;
  }
  .team .container .team_members {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  .team .our_story {
    margin-bottom: 50px;
  }
  .team .our_story h2 {
    font-size: 30px;
    margin-bottom: 15px;
  }
  .inspires {
    padding: 0 10px;
  }
  .inspires .container {
    height: 250px;
  }
  .inspires .container h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
  }
}